<%- include('partials/header.ejs') %>
<body>    
  <%- include('partials/navbar.ejs') %>

    <div class="container d-auto justify-content-center text-center">
      <h2 class="mt-4 text-center"><%= pergunta.titulo %></h2>
      <p><%= pergunta.descricao %></p>
      <form class="form form-group" method="POST" action="/responder">
        <textarea class="m-auto form-control" placeholder="Digite sua resposta" name="corpo"></textarea>
        <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
        <button class="btn btn-outline-dark btn-sm col-xs-2 mt-3">Responder</button>
    </form>
    <h3>Respostas:</h3>
    <p><% respostas.forEach(resposta => {%></p>   
        <div class="card card-body m-auto" style="width: 25rem;"><p><%= resposta.corpo %></p></div>
    <% }) %>  
    </div>  
</body>
<%- include('partials/footer.ejs') %>
